body{
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container{
  flex: 1;
}


.page-header{
  display:flex;
  justify-content: space-between;
}

.add-btn{
  border-radius: 8px;
  padding:2px 8px;
  background:#fa434b;
  color: white;
  border: none;
}


.navbar {
  height: 4rem;
}

.fa-compass {
  color: #fa434b;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

footer {
  background: #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.f-social,
.f-info,
.f-links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.f-social {
    font-size: 1.5rem;
    gap: 1rem;
}

.f-links {
    gap: 1rem;
}

.f-links a {
     text-decoration: none;
     color: #222222;
}

.f-links a:hover{
     text-decoration: underline;
     color: black;
}

/* card */
.card{
  margin: 6px;
  border: none !important;
}

.card-links{
  text-decoration: none;
  color: black;
}

.all-cards{
  display: flex;
  flex-wrap: wrap;
}

.card-img-top{
  height: 300px !important;
  width:300px !important;
  border-radius: 1REM !important;
  object-fit: cover;
}

.card-img-overlay{
  background: #fff;
  opacity: 0;
}

.card-img-overlay:hover{
  background: #fff;
  opacity: 0.2;
}

.btn{
   border-radius: 8px !important;
  padding:2px 8px ;
  background:#fa434b !important;
  color: white !important;
  border: none;
  transition: transform 0.2s ease 0.1s !important;
}

.btn:hover{
box-shadow: 1px 1px 8px black;
transform: scale(1.1);
}

/* edit page */
.edit-btn{
    display: inline-flex;
    /* align-items: center; */
    justify-content: center;

    padding: 12px 8px;
    line-height: 1;
    font-size: 1rem;

    background: #fa434b;
    color: white;
    text-decoration: none;

    border-radius: 8px;
}

.edit-btnn{
  text-decoration: none !important;
}

.delete-btn{
  border-radius: 8px !important;
  padding:2px 8px ;
  background:#000 !important;
  color: white !important;
  border: none;
  transition: transform 0.2s ease 0.1s !important;

}


